/* Grid Row Styles */

div.row {
    clear: both;
}
div.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Grid Column Styles */

div[class^="col-"]{
    float: left;
}
div.col-1-1{width:100%;}
div.col-1-2{width:50%;}
div.col-1-3{width:33.3%;}
div.col-1-4{width:25%;}
div.col-1-8{width:12.5%;}
div.col-7-8{width:87.5%;}

/* Grid Outline Styles */
div {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
    outline: 1px solid red;
}