body{
    color: black;
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body > header > nav > ul > li {
	display: block;
	width: 20%;
	float: right;
	font-size: 1em;
	color:white; 
	height: 100%;
	text-align: center;
    vertical-align:middle;
    background-color: red;
}
body > header > nav > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}
body > header > nav > ul > li > a:hover {
	color: white;
	background-color: #8a0008;
}
body > section > header > h2 {
	background-color: red;
	color: white;
}
body > section > h4 {
	background-color: red;
	color: white;
}
 body > section > h5 {
	background-color: red;
	color: white;
 }
 body > section > h4 > a:visited {
	background-color: red;
	color: white;
}
body > section > h4 > a {
	background-color: red;
	color: white;
}
div.rotate {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
