/* Body Styles */
html{
	background-color: darkred
}
body{
	background-color: white;
	margin-left: auto;
	margin-right: auto; 
	width: 100%;
	max-width: 960px;
	min-width: 640px;
}
div#pkmnName{
	font-size: 2.5em;
}
div#type, div#counters{
	font-size: 2em;
}
div#stats{
	font-size: 1.5em;
	text-align: center;
}
div#summary{
	font-size: 1.5em;
}
