@font-face{
	font-family: pokemon;
	src:url(pokemon.woff2) format('woff2'),
    url(pokemon.woff) format('woff'),
    url(pokemon.ttf) format('truetype');
}



/* Body Styles */
html{
    background-color: rgb(218, 216, 216);
}
body{
	background-color: white;
	margin-left: auto;
	margin-right: auto; 
	width: 100%;
	max-width: 960px;
	min-width: 640px;
}
/*body > div.row > div.col-7-8 > div.row{
	font-size: 2.5em;
	font-family: pokemon, serif;
	color:yellow;
	font-weight: normal;
	outline-color: black;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: rgb(0, 0, 200);
	padding-top:15px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: center;
	letter-spacing: 4px;
}
*/
div.col-1-2, div#type, div#counters{
	font-size: 1.5em;
	text-align: center;
}
div.col-1div#summary{
	font-size: 1.5em;
}
div.col-1-4{
    background-color: red;
}
div.col-1-4 a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    width: 25%;
}
div.col-1-4 ul li{
    list-style-type: none;
}
nav > ul > li > a{
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
nav a:hover, nav a:active{
    background-color: rgb(206, 15, 15);
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
    padding-left: auto;
}
div {
    outline-width: 1px;
    outline-style: solid;
    outline-color: black;
	outline: 1px solid black;
}
h1, h2{
	text-align: center;
	padding-top: 25px;
}