@charset "utf-8";


html{
    background-color: rgb(218, 216, 216);
}
body{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 964px;
}
#intro{
    padding-top: auto;
    padding-bottom: auto;
}
p#intro{
    color: white;
}
div.col-7-8{
    background-color: red;
}
div.col-7-8 a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    width: 25%;
}
div.col-7-8 ul li{
    list-style-type: none;
}
nav a:hover, nav a:active{
    background-color: rgb(206, 15, 15);
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
    padding-left: auto;
}
header{
    text-align: center;
}
/*This will change the footer*/
div.row{
    text-align: center;
    background-color: red;
    color: white;
}
div.col-1-1{
    background-color: white;
}
footer > p{
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}